[task_config]
includes = [".config/mise-lib"]

[env]
CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER = "/usr/bin/aarch64-linux-gnu-gcc"
CARGO_TARGET_ARMV7_UNKNOWN_LINUX_GNUEABIHF_LINKER = "/usr/bin/arm-linux-gnueabihf-gcc"

[tasks.test]
description = "Run tests"
depends = ["rust:test"]

[tasks.fmt]
depends = ["rust:fmt"]
description = "Format source"

[tasks.fmt-check]
depends = ["rust:fmt-check"]
description = "Check formatting"

[tasks.lint]
depends = ["rust:lint"]
description = "Lint the project"

[tasks.lint-fix]
depends = ["rust:lint-fix"]
description = "Run lint fixers"

[tasks.ci]
description = "Run CI tasks"
depends = ["fmt-check", "lint"]

[tasks.release-build]
depends = [
    "rust:build-target --release armv7-unknown-linux-gnueabihf",
    "rust:build-target --release x86_64-unknown-linux-gnu",
    "rust:build-target --release aarch64-unknown-linux-gnu",
]
description = "Build the project"
sources = ["src/**/*.rs", "Cargo.lock", "Cargo.toml"]
outputs = [
    "target/aarch64-unknown-linux-gnu/release/bootdns",
    "target/armv7-unknown-linux-gnueabihf/release/bootdns",
    "target/x86_64-unknown-linux-gnu/release/bootdns",
]

[tasks.build]
depends = [
    "rust:build-target",
]
description = "Build the project in debug mode"
sources = ["src/**/*.rs", "Cargo.lock", "Cargo.toml"]
outputs = ["target/debug/bootdns"]
